body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    color: #333;
}

label {
    font-size: 1.2em;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    text-transform: uppercase; /* 이 줄을 추가하여 입력 텍스트를 자동으로 대문자로 변환 */
}

button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: 0;
}

.review {
    margin-bottom: 20px;
}

.review img {
    width: 100%;
}


